<div id="ec-quote-container" class="ec-quote-container-{{data.widget.quote_container_color}}">

    <div id="ec-quote-content">

    </div>
    <div id="slides">

      {% for item in data.widget.quote_array %}
      <div class="slide">
        <blockquote>
          <p> {{ item.quote }} </p>
        </blockquote>
        <p class="ec-quote-author" style=
        "background-color:{{data.widget.quote_author_color}};
        color: {{data.widget.quote_text_color}};
        ">
              {{ data.widget.author }}
        </p>
        <p class="ec-quote-author-info"> {{ item.author_info }} </p>
      </div>
      {% endfor %}

    </div>
      {% if data.widget.author %}
    <div id="ec-quote-author">

    </div>
      {% endif %}

      {% if data.widget.author_info %}
    <div id="ec-quote-author-info">
      <p>
        {{ data.widget.author_info }}
      </p>
    </div>
    {% endif %}


</div>
<script>

  var slides = document.querySelectorAll('#slides .slide');
  var currentSlide = 0;
  var next = 0;
  var slideInterval = setInterval(nextSlide,4000);
  console.log({{ data.widget.quote_array[0].id | json }});
  function nextSlide() {
      next = currentSlide + 1;
      next = next % slides.length;
      slides[currentSlide].className = 'slide';
      slides[next].className = 'slide showing';
      currentSlide = next;
  }
</script>
