#ec-quote-content{
}
.ec-quote-author{
  margin-left: 70px;

  span{
    padding:1px;
  }
}
.ec-quote-author-info{
  margin-left: 100px;
  color: darkgray;
}
.ec-quote-container{
  max-width: 1144px;

  blockquote {
    &::before, &::after {
      width: 25px;
      position: absolute;
    }
    p {
      margin: 0;
      font-size: 16px;
      color: black;
      margin-top: 40px;
      margin-left: 30px;
      margin-right: 30px;
      text-align: justify;

      &::before {
        top: 0;
        left: 16px;
        content: '“';
        font-size: 6em;
        position: absolute;
        text-shadow: -3px 0 #c2c2c2;
      }
      &::after {
        right: 16px;
        content: '”';
        bottom: -32px;
        font-size: 6em;
        position: absolute;
        text-shadow: 3px 0 #c2c2c2;
      }
    }
  }
}
